<h1><%= @league.name %></h1>
		<% @teams.each do |t| %>
			<div class='col-sm-10 col-md-8'>
				<%= link_to t.name, league_team_path(@league,t), method: :get %>
			</div>
		<% end %>
<%= button_to "Create Team Here", new_league_team_path(@league), method: :get, class: "btn btn-default text-center" %>

