<div class="bs-example" data-example-id="simple-table">
	<table class="table">
	  <thead>
	  	<tr>
	  		<th>Role</th>
	  		<th>Name</th>
	  		<th>Email</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>President</td>
	  		<td>Robert Cole</td>
	  		<td>president@amcanII.org</td>
	  	</tr>
	  </tbody>
	  <tbody>
	  	<tr>
	  		<td>Vice President</td>
	  		<td>Jamey Jackson</td>
	  		<td>vicepresident@amcanII.org</td>
	  	</tr>
	  </tbody>
	  <tbody>
	  	<tr>
	  		<td>Secretary</td>
	  		<td>Melissa Cole</td>
	  		<td>secretary@amcanII.org</td>
	  	</tr>
	  </tbody>
	  <tbody>
	  	<tr>
	  		<td>Canteen</td>
	  		<td>Christy Jackson</td>
	  		<td>canteen@amcanII.org</td>
	  	</tr>
	  </tbody>
	  <tbody>
	  	<tr>
	  		<td>Chief Umpire</td>
	  		<td>Everett Buyarski</td>
	  		<td>umpires@amcanII.org</td>
	  	</tr>
	  </tbody>
	  <tbody>
	  	<tr>
	  		<td>Player Agent 1</td>
	  		<td>Jeff Servente</td>
	  		<td>admin@amcanII.org</td>
	  	</tr>
	  </tbody>	  	  	  
	</table>
</div>